
.ErrorMessagePicture{
	position:fixed; 
}

.stateLabelOn{
	color:#fff;
	font:bold 12px arial;
	position:relative;
	height:15px;
	width:15px
}

.stateLabelHIOn{
	color:#fff;
	font:bold 8px arial;
	position:relative;
	height:8px;
	width:8px
}
